<%= simple_form_for [:admin, @post] do |f| %>
  <% if @post.errors.any? %>
		<%= pluralize(@post.errors.count, "error") %> prohibited this user from being saved:
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>

	<%= f.hidden_field :user_id, value: current_user.id %><br />
	<%= f.input :subject_id, label: "주제", label_html: { class: "fwb" } %><br />
	<%= f.input :category_id, label: "카테고리", label_html: { class: "fwb" } %><br />

	<%= f.input :title, label: "제목", label_html: { class: "fwb" } %><br />
	<%= f.input :body, label: "내용", label_html: { class: "fwb" } %><br />
	<%= f.submit "확인", :class => "btn btn-success mt20" %>


<% end %>