<div class="container">
  <div class="w100p">
    <h1>총 <%= content_tag :span, Category.count, :class => "font-important" %>개의 글 분류</h1>
  </div>
  
  <% Subject.all.each do |subject| %>
    <div class="fl subject sortable connectedSortable" sid="<%= subject.id %>">
      <p class="tac fwb"><%= subject.name %></p>
      <% subject.categories.upper_categories.order("archposition asc").each do |archcategory| %>
        <ul class="ui-state-default archcategory sortable-small connectedSortable-small" aid="<%= archcategory.id %>">
          <span class="fcgr"><%= archcategory.id %></span>
          <span class="<%= archcategory.parent.present? ? '' : 'fwb fcr' %>"><%= archcategory.archposition %></span>
          <span class="<%= archcategory.parent.present? ? '' : 'fwb fcg' %>"><%= archcategory.position %></span>
          <span class="<%= archcategory.parent.present? ? '' : 'fwb' %>">
            <% case archcategory.role %>
              <% when "divider" %>
                <%= "-------------------------" %>
              <% when "spacer" %>
                <%= "/////////////////////////" %>
              <% else %>
                <%= archcategory.name %><span class="fcgr"> (<%= archcategory.posts_count %>)</span>
              <% end %>
          </span>
          
          <% archcategory.categories.order("position asc").each do |category| %>
            <li class="category" cid="<%= category.id %>">
              <div class="">
                <span class="fcgr"><%= category.id %></span>
                <span class="<%= category.parent.present? ? '' : 'fwb fcr' %>"><%= category.archposition %></span>
                <span class="<%= category.parent.present? ? '' : 'fwb fcg' %>"><%= category.position %></span>
                <span class="<%= category.parent.present? ? '' : 'fwb' %>">
                  <% case category.role %>
                  <% when "divider" %>
                    <%= "-------------------------" %>
                  <% when "spacer" %>
                    <%= "/////////////////////////" %>
                  <% else %>
                    <%= category.name %><span class="fcgr"> (<%= category.posts_count %>)</span>
                  <% end %> 
                </span>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
  
  <script>
    $(function() {
      $(".sortable").sortable({
        items: "ul",
        connectWith: ".connectedSortable",
        placeholder: "archplaceholder",
        forcePlaceholderSize: true,
        distance: 15,
        start: function( event, ui ) {
          $('.archplaceholder').height(ui.item.outerHeight())
        },
        update: function(event, ui) {
          var aids = $(this).sortable( "toArray", { attribute: 'aid' }).toString();
          $.get('categories/rearrange', {aids:aids});
          console.log(aids)
        },
        receive: function(event,ui) {
          var aids = $(this).sortable( "toArray", { attribute: 'aid' }).toString();
          var sid = $(this).attr("sid");
          $.get('categories/rearrange', {aids:aids, sid:sid});
          console.log("parent changed to : " + sid)
        }
      }).disableSelection();
    });
    
    $(function() {
      $(".sortable-small").sortable({
        items: "li",
        connectWith: ".connectedSortable-small",
        placeholder: "placeholder",
        forcePlaceholderSize: true,
        distance: 15,
        start: function( event, ui ) {
          $('.placeholder').height(ui.item.outerHeight())
        },
        update: function(event, ui) {
          var cids = $(this).sortable( "toArray", { attribute: 'cid' }).toString();
          var aid = $(this).attr("aid");
          $.get('categories/rearrange', {cids:cids, aid:aid});
          console.log(cids)
          console.log(aid)
        },
      }).disableSelection();
    });
  </script>

  

  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>소속 주제</th>
        <th>대순서</th>
        <th>순서</th>
        <th>대분류</th>
        <th>용도</th>
        <th>분류명</th>
        <th>형태</th>
        <th>하위 글 수</th>
        <th>생성일</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% Subject.all.each do |subject| %>
        <% subject.categories.order("position asc").each do |category| %>
          <tr>
            <td><%= category.id %></td>
            <td>
              <% if category.subject_id.present? %>
                <%= category.subject.name.present? ? category.subject.name : "---------------------------" %>
              <% end %>
            </td>
            <td class="<%= category.parent.present? ? '' : 'fwb fcr' %>"><%= category.archposition %></td>
            <td class="<%= category.parent.present? ? '' : 'fwb fcr' %>"><%= category.position %></td>
            <td><%= category.parent.present? ? category.parent.name : "-" %></td>
            <td>
              <% case category.role %>
              <% when "category" %>
                <span class="label label-primary"><%= Category::ROLE.key(category.role) %></span>
              <% when "divider" %>
                <span class="label label-warning"><%= Category::ROLE.key(category.role) %></span>
              <% when "spacer" %>
                <span class="label label-info"><%= Category::ROLE.key(category.role) %></span>
              <% else %>
                <span class="label label-danger"><%= Category::ROLE.key(category.role) %></span>
              <% end %> 
            </td>
            <td class="<%= category.parent.present? ? '' : 'fwb fcr' %>">
              <% case category.role %>
              <% when "divider" %>
                <%= "-------------------------" %>
              <% when "spacer" %>
                <%= "/////////////////////////" %>
              <% else %>
                <%= category.name %>
              <% end %> 
            </td>
            <td>
              <% case category.view_type %>
              <% when "list" %>
                <span class="label label-primary"><%= Category::VIEW_TYPE.key(category.view_type) %></span>
              <% when "summary" %>
                <span class="label label-success"><%= Category::VIEW_TYPE.key(category.view_type) %></span>
              <% when "show" %>
                <span class="label label-info"><%= Category::VIEW_TYPE.key(category.view_type) %></span>
              <% else %>
                <span class="label label-danger"><%= category.view_type %></span>
              <% end %> 
            </td>
            <td><%= category.posts_count %></td>
            <td><%= hdate(category.created_at, "/") %></td>
            <td>
              <%= link_to(admin_category_path(category), method: :delete, data: { confirm: '정말 삭제하시겠습니까?' }, class: "btn btn-danger btn-xs") do %>
                <span class="glyphicon glyphicon-remove"></span> 삭제
              <% end %>
              <%= link_to(edit_admin_category_path(category), class: "btn btn-warning btn-xs") do %>
                <span class="glyphicon glyphicon-pencil"></span> 수정 
              <% end %>
              <div class="btn-group ml5">
                <%= link_to("/admin/categories/#{category.id}/reposition/up", class: "btn btn-info btn-xs") do %>
                  <span class="glyphicon glyphicon-chevron-up"></span>
                <% end %>
                <%= link_to("/admin/categories/#{category.id}/reposition/down", class: "btn btn-info btn-xs") do %>
                  <span class="glyphicon glyphicon-chevron-down"></span>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <%= link_to new_admin_category_path, :class => "btn btn-success fr" do %>
    <span class="glyphicon glyphicon-plus"></span> 새 분류 만들기
  <% end %>
</div>