<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong>Theme:</strong>
  <%= @post.theme_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @post.category_id %>
</p>

<p>
  <strong>Comments count:</strong>
  <%= @post.comments_count %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @post.tags %>
</p>

<p>
  <strong>Status:</strong>
  <%= @post.status %>
</p>

<p>
  <strong>View type:</strong>
  <%= @post.view_type %>
</p>

<p>
  <strong>View count:</strong>
  <%= @post.view_count %>
</p>

<p>
  <strong>Main image:</strong>
  <%= @post.main_image %>
</p>

<p>
  <strong>Comment permission:</strong>
  <%= @post.comment_permission %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
